<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xlythe.service.weather">
    <application>
        <service
            android:name=".AwarenessWeatherService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xlythe.service.ACTION_RUN_MANUALLY" />
            </intent-filter>
        </service>
        <service
            android:name=".OpenWeatherService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xlythe.service.ACTION_RUN_MANUALLY" />
            </intent-filter>
        </service>
        <service
            android:name=".WeatherUndergroundService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xlythe.service.ACTION_RUN_MANUALLY" />
            </intent-filter>
        </service>
        <receiver android:name=".UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
